<!DOCTYPE html>
<html lang="sl">
<head>
    <!-- Title -->
    <title>FitRise Slovenija: Tvoje želje, naš cilj</title>
    <!-- Ikona -->
    <link rel="icon" href="{{ url_for('static', filename='Gym.ico') }}" type="image/x-icon">
    <!-- Povezava css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- kodiranje avtor itd -->   
    <meta charset="utf-8">
    <meta name="description" content="FitRise Slovenija: Tvoje želje, naš cilj">
    <meta name="author" content="FitRiseSlovenija, Jošt Košir, Teo Makarič">
    <!-- zdruzljivost z brskalniki privzeta velikost elementov -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jquery, bootstrap js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Ikone Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- pisava Google Fonts: Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
    .fitnes-komponenta {
        background-color: #ffffff;
        padding: 30px 40px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .fitnes-naslov {
        font-size: 22px;
        color: #333;
        margin-bottom: 15px;
    }

    .fitnes-stevilo {
        font-size: 50px;
        font-weight: bold;
        color: red;
        margin: 0;
    }

    @media (max-width: 500px) {
        .fitnes-komponenta {
            padding: 20px;
        }

        .fitnes-stevilo {
            font-size: 36px;
        }
    }
</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- gumb menija -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#meni">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!-- logotip -->
                    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='Gym.jpg') }}" alt="logotip"></a>
                </div>
                
                <!-- meni, ki se na manjših zaslonih skrči -->            
                <div class="collapse navbar-collapse" id="meni">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Domov</a></li>
                        {% if 'username' in session %}
                        <li> <a href="/loged">{{ session.get('username')}}</a></li>
                        <li><a href="/logout">Odjava</a></li>
                        {% else %}
                        <li><a href="/login">Prijava</a></li>
                        {% endif %}
                        <li><a href="/paketi">Paketi</a></li>
                    </ul>
                </div>                
            </div>        
        </nav>
    </header>
    
    <section id="domov">
        <!-- Vrtiljak slik -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Kazalniki vrtljivih slik -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          
      
          <!-- Okvir vrtiljaka slik -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ url_for('static', filename='slide1.jpg') }}" alt="slide1">
                <div class="carousel-caption">
                    <p>FitRise Slovenija</p>
                    <a href="#about" class="btn btn-default">Preverite zasedenost</a>
                </div>
            </div>
      
            <div class="item">
                <img src="{{ url_for('static', filename='slide2.jpg') }}" alt="slide2">
                <div class="carousel-caption">
                    <p>Prijavite se še danes</p>
                    <a href="#about" class="btn btn-default">Preverite zasedenost</a>
                </div>
            </div>
      
            <div class="item">
                <img src="{{ url_for('static', filename='slide3.jpg') }}" alt="slide3">
                <div class="carousel-caption">
                    <p>Prijavite se še danes</p>
                    <a href="#about" class="btn btn-default">Preverite zasedenost</a>
                </div>
            </div>
        </div>
        
      
          <!-- Leva in desna kontrolna puščica -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
      


    <!-- Fitnes zgodbe strank -->
<section id="fitnes-status" class="fitnes-komponenta">
    <div class="fitnes-vsebina">
        <h2 class="fitnes-naslov">Trenutno število ljudi v fitnesu:</h2>
        <div>
            <h3 id="stevilo" class="fitnes-stevilo">Loading...</h3>
        </div>
    </div>
</section>

    <!-- Okvir noge z dvema stolpcema -->
    <footer class="container-fluid text-center">
        <div class="row">
            <!-- Socialne ikone -->
            <div class="nogaLevo col-sm-6">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="nogaDesno col-sm-6">
                © FitRise Slovenija, 2025
            </div>
        </div>
    </footer>

</body>

<script>
    function numberOfPeople() {
        $.ajax({
            url: '/numberOfPeople',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                document.getElementById('stevilo').innerText = data.number;
            },
            error: function(xhr, status, error) {
                console.error('Napaka pri pridobivanju podatkov:', error);
            }
        });
    }
    numberOfPeople();
    setInterval(numberOfPeople, 4000);
</script>
</html>
